{% extends "base.html" %}

{% block content %}
  <h1 class="h3 mb-3">Edit {{ dog.name }}</h1>
  <form method="post" class="card card-body shadow-sm">
    {{ form.hidden_tag() }}
    <div class="row g-3">
      <div class="col-md-6">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
      </div>
      <div class="col-md-6">
        {{ form.estimated_age_years.label(class="form-label") }}
        {{ form.estimated_age_years(class="form-control") }}
      </div>
      <div class="col-md-4">
        {{ form.sex.label(class="form-label") }}
        {{ form.sex(class="form-select") }}
      </div>
      <div class="col-md-4">
        {{ form.breed.label(class="form-label") }}
        {{ form.breed(class="form-control") }}
      </div>
      <div class="col-md-4">
        {{ form.status.label(class="form-label") }}
        {{ form.status(class="form-select") }}
      </div>
      <div class="col-md-6">
        {{ form.intake_date.label(class="form-label") }}
        {{ form.intake_date(class="form-control") }}
      </div>
      <div class="col-md-6">
        {{ form.intake_source.label(class="form-label") }}
        {{ form.intake_source(class="form-control") }}
      </div>
    </div>
    <div class="mt-3">
      <button class="btn btn-primary" type="submit">Save changes</button>
      <a class="btn btn-link" href="{{ url_for('dogs.detail', dog_id=dog.id) }}">Cancel</a>
    </div>
  </form>
{% endblock %}
